.posters-wrapper {
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.posters-title {
  margin-top: 1.5rem;
  margin-left: 2rem;
  color: white;
}
.posters-title h3{
    font-weight: bold;
}
.poster-card {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
  z-index: 65;
  margin: 0.3rem;
  cursor: pointer;
}
.posters-wrapper:focus-within .poster-card,
.posters-wrapper:hover .poster-card {
  transform: translateX(-25%);
  z-index: 70;
}

.poster-card:focus ~ .poster-card,
.poster-card:hover ~ .poster-card {
  transform: translateX(25%);
}

.posters-wrapper .poster-card:focus,
.posters-wrapper .poster-card:hover {
  transform: scale(1.5);
}

.poster-card .img {
  display: block;
  max-width: 100%;
}
.poster-text-wrapper {
  padding: 1rem;
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  transition: .5s;
  opacity: 0;
  z-index: 50;
}
.poster-card:focus,
.poster-card:hover .poster-text-wrapper {
  opacity: 1;
}
.dark-fade-top {
  top: 0;
  position: absolute;
  height: 2rem;
  width: 100%;
  background-image: linear-gradient(
    rgba(17, 17, 17, 0.9),
    rgba(255, 255, 255, 0)
  );
}
.dark-fade-bottom {
  bottom: 0;
  position: absolute;
  height: 8rem;
  width: 100%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(17, 17, 17, 0.9)
  );
}
.poster-title{
  text-shadow: 4px 4px 6px black;
  font-weight: bold;
}