.nav-item{
    padding: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    font-weight: bold;
}
.bg-black{
    background-color: black;
}
.search{
    cursor: pointer;
    padding-right: 1rem;
}
.search-input{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: none;
    outline: none;
    width: 0;
    transition: .5s;
    background-color: #222;
    caret-color: #666;
    color: #666;
}
.search-input:focus{
    outline: none;
}