* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 767px) {
  .small-device {
    display: none !important;
  }
  .large-device {
    display: flex !important;
  }
}
@media (max-width: 767px) {
  .large-device {
    display: none !important;
  }
  .small-device {
    display: block !important;
  }
}
